[project]
	description = Android Sensors HAL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajiv Verma (vermar)
[access "refs/for/refs/*"]
	read = group user/Rajiv Verma (vermar)
	push = group user/Rajiv Verma (vermar)
	label-Code-Review = -2..+2 group user/Rajiv Verma (vermar)
	label-Verified = -1..+1 group user/Rajiv Verma (vermar)
	rebase = group user/Rajiv Verma (vermar)
	removeReviewer = group user/Rajiv Verma (vermar)
	submit = group user/Rajiv Verma (vermar)
[access "refs/heads/*"]
	read = group user/Rajiv Verma (vermar)
	create = group user/Rajiv Verma (vermar)
	push = +force group user/Rajiv Verma (vermar)
	pushMerge = group user/Rajiv Verma (vermar)
[access "refs/tags/*"]
	push = +force group user/Rajiv Verma (vermar)
	pushTag = group user/Rajiv Verma (vermar)
	pushSignedTag = group user/Rajiv Verma (vermar)
